/* Estilo general */
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #595959;
    color: #f1f1f1;
}

/* Encabezado */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #3a3a3a;
    padding: 10px 20px;
}

.logo {
    display: flex;
    align-items: center;
}

.logo-icon {
    background-color: #4d4d4d;
    border-radius: 50%;
    padding: 10px;
    margin-right: 10px;
}

.nav {
    display: flex;
    align-items: center;
}

.nav a {
    margin: 0 15px;
    text-decoration: none;
    color: #f1f1f1;
}

.search-bar {
    display: none;
    margin-left: 15px;
    padding: 5px;
    border-radius: 5px;
    border: none;
    outline: none;
}

.user-options {
    display: flex;
    align-items: center;
}

.user-options a {
    margin-left: 15px;
    text-decoration: none;
    color: #f1f1f1;
}

/* Íconos */
.user-icon, .settings-icon {
    margin-left: 15px;
    font-size: 18px;
}

/* Contenido principal */
.main-content {
    display: flex;
    padding: 20px;
}

.sidebar {
    width: 20%;
    background-color: #4d4d4d;
    padding: 15px;
    border-radius: 10px;
}

.discussion-area {
    flex-grow: 1;
    background-color: #666;
    margin-left: 60px;
    padding: 15px;
    border-radius: 10px;
}

.posts-section {
    background-color: #b3e6e6;
    padding: 20px;
    border-radius: 10px;
    margin-top: 10px;
    text-align: center;
    color: #333;
}
.contact-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #3a3a3a;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.contact-form h2 {
    margin-bottom: 20px;
    font-size: 24px;
}

.contact-form form {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 400px;
}

.contact-form label {
    margin-bottom: 5px;
    font-weight: bold;
}

.contact-form input {
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ddd;
    width: 100%;
    box-sizing: border-box;
}

.form-buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
}

.form-buttons button {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    flex-grow: 1;
    margin: 0 5px;
}

.form-buttons button:hover {
    background-color: #45a049;
}